# ============================
# Caddy for Laravel on Render
# ============================

https://food-api-xl8n.onrender.com {
    root * /var/www/html/public

    encode gzip

    php_fastcgi 127.0.0.1:9000

    file_server

    # -------------------------
    # 🔥 FIX CORS
    # -------------------------
    @cors {
        path_regexp corsPath ^/.*$
    }

    header @cors Access-Control-Allow-Origin "https://ban-do-an.vercel.app"
    header @cors Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    header @cors Access-Control-Allow-Headers "*"
    header @cors Access-Control-Allow-Credentials "true"

    @preflight method OPTIONS
    handle @preflight {
    header Access-Control-Allow-Origin "https://ban-do-an.vercel.app"
    header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    header Access-Control-Allow-Headers "*"
    header Access-Control-Allow-Credentials "true"
    respond "" 204
    }

}

# ============================
# Local chạy Render port 8000
# ============================
:8000 {
    root * /var/www/html/public
    encode gzip
    php_fastcgi 127.0.0.1:9000
    file_server
}
